@import url('https://cdn-uicons.flaticon.com/uicons-solid-rounded/css/uicons-solid-rounded.css');
@import url('https://cdn-uicons.flaticon.com/uicons-brands/css/uicons-brands.css');
@import url('https://cdn-uicons.flaticon.com/uicons-brands/css/uicons-brands.css');
@import url('https://cdn-uicons.flaticon.com/uicons-bold-straight/css/uicons-bold-straight.css');
@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');
@import url('https://cdn-uicons.flaticon.com/uicons-bold-rounded/css/uicons-bold-rounded.css');
@import url('https://cdn-uicons.flaticon.com/uicons-solid-straight/css/uicons-solid-straight.css');
@import url('https://cdn-uicons.flaticon.com/uicons-solid-rounded/css/uicons-solid-rounded.css');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    background:rgb(241, 241, 240)

}
.navbar{
    height:90px ;
    width:100%;
    background:white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow:0px 3px 6px #a4a3a3;
   
}
.linkcont{
    width:600px;
    height:60px;
    display:flex;
    /* text-decoration: none; */
    justify-content:space-around;
    align-items: center;
    
}
.linkcont a{
    text-decoration: none;
    color:black;
    font-size: 15px;
    font-weight: 700;
}
.login{
   
    padding-left: 15px;
    height: 50 px;
    width:100px ;
    background: rgb(98, 198, 228);
    justify-content: space-evenly;
    border-radius: 18px;
    display: flex;
    align-items: center;
    color: aliceblue;
    box-sizing: border-box;

}
.icon{
    display: flex;
    font-size: 20px;
    height: 28px;
    width:29px;
    border-radius: 50%;
    background: blue; 
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    padding-top: 16px;
    padding-left:5px;
    
}
.icon i{
    
    font-size:20px;
    height: 28px;
    width: 22px;
    border-radius:60%;
    
}
.login:hover{
    background-color: rgb(7, 2, 23);
    cursor: pointer;
    

}
.login:hover .icon{
   
    background: blue; 
    cursor: pointer;

}

.kyc{
    text-align: center;
    font-weight: 500;

}
.kyc.emoji{
    font-size:20 px;
}
.kyc .learn{
 font-weight:600;
  cursor: pointer;

}
.herosection{
    margin-top: 6px;
    height: 500px;
    width: 100%;
    background-color: white;
    box-shadow:0px -1px 5px #a4a3a3;
    display: flex;
    align-items: center;
    justify-content: center;
}
.herosection .left{
    height: 80%;
    width: 50%;

 
    padding-left: 80px;

}
.herosection .right{
    height: 80%;
    width: 50%;
    

}
.herosection .left img{
    height: 80px    ;
}
.herosection .left .heading{
  font-size: 48px;
}
.para{
    font-size: 25px;
}
.btn{
    margin-top: 50px;
    padding-left:30px;
    padding-right: 40px;  
    height: 40px;
    width: 250px;
    background:black;
    border-radius: 15px;
    color:white;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    transition: all 0.2s ease-in-out;

}
.btn:hover{
    transform: scale(1.1);
    border: 2px black solid;
    background-color: white;
    color:black;
    cursor: pointer;
}

.right img{
    position: relative;
    right: -100px;
    height: 100%;
    transform: all;
 
}
.right img:hover{
    transform: scale(1.1);
    right:-0px;

}
.pay{
    font-size: 20px;
    text-align:justify;
    color:white;
    background: rgb(65, 168, 243);
    padding-bottom:50px;
}
.bill{
    display: flex;
    align-items:center;
    font-weight: 100px;
    justify-content: space-around;
   

}


.bill .bill1 {
    height: 150px;
    width: 140px;
    cursor: pointer;
    border-radius: 12px;
    padding: 15px;
    font-size: 17px;
    font-weight: 500;
    line-height: 25px;
    box-sizing: border-box;
}
 .bill .bill2{
    height: 150px;
    width: 140px;
    cursor: pointer;
    border-radius: 12px;
    padding: 15px;
    font-size: 17px;
    font-weight: 500;
    line-height: 25px;
    box-sizing: border-box;
    
  
}

.bill .bill3{
    height: 150px;
    width: 140px;
    cursor: pointer;
    border-radius: 12px;
    padding: 15px;
    font-size: 17px;
   
    font-weight: 500;
    line-height: 25px;
    box-sizing: border-box;
}
.bill .bill4{
    height: 150px;
    width: 140px;
    cursor: pointer;
    border-radius: 12px;
    padding: 15px;
    font-size: 17px;
   
    font-weight: 500;
    line-height: 25px;
    box-sizing: border-box;
}
.bill .bill5{
    height: 150px;
    width: 140px;
    cursor: pointer;
    border-radius: 12px;
    padding: 15px;
    font-size: 17px;
    
    font-weight: 500;
    line-height: 25px;
    box-sizing: border-box;
}
.bill .bill6{
    height: 150px;
    width: 140px;
   
    cursor: pointer;
    border-radius: 12px;
    padding: 15px;
    font-size: 17px;
    
    font-weight: 500;
    line-height: 25px;
    box-sizing: border-box;
}
.bill .bill7{
    height: 150px;
    width: 140px;
    cursor: pointer;
    border-radius: 12px;
    padding: 15px;
    font-size: 17px;
  
    font-weight: 500;
    line-height: 25px;
    box-sizing: border-box;
} 
.bill .bill1:hover{
  
    background-color: #3f8de1;
  
    cursor: pointer;
    text-align: justify;
    
}
.bill .bill2:hover{
  
    background-color: #3f8de1;
  
    cursor: pointer;
    text-align: justify;
  
}
.bill .bill3:hover{
   
    background-color: #3f8de1;
   
    cursor: pointer;
    text-align: justify;
   
}
.bill .bill4:hover{
   
    background-color: #3f8de1;
   
    cursor: pointer;
    text-align: justify;
}
.bill .bill5:hover{
    
    background-color: #3f8de1;
   
    cursor: pointer;
    text-align: justify;  

} 
.bill .bill6:hover{
    background-color: #3f8de1;
    cursor: pointer;
    text-align:justify;


}
.bill .bill7:hover{
    background-color: #3f8de1;
    cursor: pointer;
    text-align:justify;
   

}
.book{
   
    font-weight: 70px;
    background-color: rgb(25, 25, 118);
    color: white;
    font-size: 35px;
    padding-bottom:50px;
    text-align:justify;

   

}
.buy{
    display: flex;
    justify-content: space-around;
    font-size: 17px;
}


.buy .buy1{
    height: 150px;
    width: 140px;
    padding-top: 30px;
    border-radius: 15px;
    padding: 20px;
    line-height: 25px;
   
   
   
  
   
}
.buy .buy2{
    height: 150px;
    width: 140px;
    padding-top: 30px;
    border-radius: 15px;
    padding: 20px;
    line-height: 25px;
}

.buy .buy3{
    height: 150px;
    width: 140px;
    padding-top: 30px;
    border-radius: 15px;
    padding: 20px;
    line-height: 25px;
   
}
.buy .buy4{
    height: 150px;
    width: 140px;
    padding-top: 30px;
    border-radius: 15px;
    padding: 20px;
    line-height: 25px;
   
}
.buy .buy5{
    height: 150px;
    width: 140px;
    padding-top: 30px;
    border-radius: 15px;
    padding: 20px;
    line-height: 25px;
   
  
   
}
.buy .buy6{
    height: 150px;
    width: 140px;
    padding-top: 30px;
    border-radius: 15px;
    padding: 20px;
    line-height: 25px;
   
  
   
}
.buy .buy7{
    height: 150px;
    width: 140px;
    padding-top: 30px;
    border-radius: 15px;
    padding: 20px;
    line-height: 25px;
   
  
   
}
.buy1 .movie{
    padding-top: 10px;
}
.buy2 .flight{
    padding-top: 10px;
}
.buy3 .bus{
    padding-top: 10px;
}
.buy4 .train{
    padding-top: 10px;
}
.buy5 .insurance{
    padding-top: 10px;
}
.buy6 .international{
    padding-top: 10px;
}
.buy7 .stock{
    padding-top: 10px;
    
 
}


.buy .buy1:hover{
    background-color: rgb(33, 33, 148);
   transform: (1.1);
    cursor: pointer;
    text-align: justify;
}
.buy .buy2:hover{
    background-color: rgb(33, 33, 148);
    transform: (1.1);
     cursor: pointer;
     text-align: justify;

}
.buy .buy3:hover{
    background-color: rgb(33, 33, 148);
    transform: (1.1);
     cursor: pointer;
     text-align: justify;

}
.buy .buy4:hover{
    background-color: rgb(33, 33, 148);
    transform: (1.1);
     cursor: pointer;
     text-align: justify;

}
.buy .buy5:hover{
    background-color: rgb(33, 33, 148);
    transform: (1.1);
     cursor: pointer;
     text-align: justify;

}
.buy .buy6:hover{
    background-color: rgb(33, 33, 148);
    transform: (1.1);
     cursor: pointer;
     text-align: justify;

}
.buy .buy7:hover{
    background-color: rgb(33, 33, 148);
    transform: (1.1);
     cursor: pointer;
     text-align: justify;

}